###############################################################################
# CONTACTS.CFG - SAMPLE CONTACT/CONTACTGROUP DEFINITIONS
#
# Last Modified: 05-31-2007
#
# NOTES: This config file provides you with some example contact and contact
#        group definitions that you can reference in host and service
#        definitions.
#       
#        You don't need to keep these definitions in a separate file from your
#        other object definitions.  This has been done just to make things
#        easier to understand.
#
###############################################################################



###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################

# Just one contact defined by default - the Nagios admin (that's you)
# This contact definition inherits a lot of default values from the 'generic-contact' 
# template which is defined elsewhere.

define contact{
        contact_name                    nagiosadmin		; Short name of user
	use				generic-contact		; Inherit default values from generic-contact template (defined above)
        alias                           Nagios Admin		; Full name of user

        email                           porst@sub.uni-goettingen.de	; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
        }


define contact{
	contact_name                   	ssp
        use                             generic-contact
        alias                           Sven-S. Porst
        email                           porst@sub.uni-goettingen.de
	host_notifications_enabled	1
	service_notifications_enabled	1
}


define contact{
        contact_name                    mmuehlh
        use                             generic-contact
        alias                           Marianna Muehlhoelzer
        email                           mmuehlh@sub.uni-goettingen.de
        host_notifications_enabled      1
        service_notifications_enabled   1
}


define contact{
        contact_name                    fischer
        use                             generic-contact         
        alias                           Thomas Fischer
        email                           fischer@sub.uni-goettingen.de,fischer.th@aon.at        
        host_notifications_enabled      1
        service_notifications_enabled   1
}

define contact{
        contact_name                    tschaefer
        use                             generic-contact
        alias                           Tobias Schaefer
        email                           tobias.schaefer@sub.uni-goettingen.de
        host_notifications_enabled      1
        service_notifications_enabled   1
}
###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################


define contactgroup {
        contactgroup_name       admins
        alias                   Nagios Administrators
        members                 nagiosadmin
}

define contactgroup {
        contactgroup_name       vlib-admins
        alias                   VLib Administrators
        members                 ssp,mmuehlh
}


define contactgroup {
        contactgroup_name       dspace-admins
        alias                   DSpace Administrators
        members                 mmuehlh,tschaefer
}

define contactgroup {
	contactgroup_name	ssgfi
	alias			SSG-FI
	members			fischer
}

