###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
# Last Modified: 05-31-2007
#
# NOTE: This config file is intended to serve as an *extremely* simple 
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################




###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define a host for the local machine

define host{
        use                     linux-server            ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the linux-server host template definition.
        host_name              	goedoc.uni-goettingen.de 
        alias                   DSpace goescholar
        address                 134.76.163.170
	hostgroups		SUB

        contact_groups		dspace-admins
}


###############################################################################
#
define host{
        use                     linux-server            
        host_name               repository.peerproject.eu
        alias                   DSpace PEER Repository
        address                 134.76.163.171
        hostgroups              SUB

        contact_groups          dspace-admins
}
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


# Define a service to "ping" the local machine

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       goedoc.uni-goettingen.de
        service_description             PING
	check_command			check_ping!100.0,20%!500.0,60%
	contact_groups                  dspace-admins
}



# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.



define service{
        use                             generic-service         
        host_name                       goedoc.uni-goettingen.de
	servicegroups			http
        service_description             DSpace Goescholar 
        check_command                   check_http_webapp!"/goescholar/"
        notifications_enabled           1
        contact_groups                  dspace-admins
}

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       repository.peerproject.eu
        servicegroups                   http
        service_description             DSpace PEER 
        check_command                   check_http_webapp!"/jspui/"
        notifications_enabled           1
        contact_groups                  dspace-admins
}
