# HOSTS

define host{
        use                     linux-server
        host_name               vlib.sub.uni-goettingen.de
        alias                   vlib
        address                 134.76.21.192
        hostgroups              SUB
        contacts                ssp
}

define host{
        use                     linux-server
        host_name               aac.sub.uni-goettingen.de
        alias                   Lib AAC TYPO3
        address                 aac.sub.uni-goettingen.de
        hostgroups              SUB,aac
        contact_groups          vlib-admins
}

define host{
        use                     linux-server
        host_name               geo-leo.de
        alias                   GEO-LEO
        address                 geo-leo.de
        hostgroups              SUB,geoleo
        contact_groups          vlib-admins
}

define host{
        use                     linux-server
        host_name               vifamath.de
        alias                   Virtuelle Fachbibliothek Mathematik
        address                 vifamath.de
        hostgroups              SUB,vifamath
        contact_groups          vlib-admins
}

define host{
        use                     linux-server
        host_name               fabian.sub.uni-goettingen.de
        alias                   Fabian
        address                 fabian.sub.uni-goettingen.de
        hostgroups              SUB
        contact_groups          vlib-admins
}






# SERVICES

# Define a service to "ping" the local machine

#define service{
#        use                             local-service
#        host_name                       localhost
#        service_description             PING
#        check_command                   check_ping!100.0,20%!500.0,60%
#}


# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
        use                             local-service
        host_name                       vlib.sub.uni-goettingen.de
        service_description             Root Partition
        check_command                   check_local_disk!20%!10%!/
}




# Define a service to check the load on the local machine.

define service{
        use                             local-service
        host_name                       vlib.sub.uni-goettingen.de
        service_description             Current Load
        check_command                   check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
}



# Define a service to check the swap usage the local machine.
# Critical if less than 10% of swap is free, warning if less than 20% is free

define service{
        use                             local-service
        host_name                       vlib.sub.uni-goettingen.de
        service_description             Swap Usage
        check_command                   check_local_swap!20!10
}



# Define a service to check SSH on the local machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.

define service{
        use                             local-service
        host_name                       vlib.sub.uni-goettingen.de
        service_description             SSH
        check_command                   check_ssh
        notifications_enabled           1
}


define service {
        use                             generic-service
        host_name                       vlib.sub.uni-goettingen.de
        service_description             CouchDB
        check_command                   check_http_path!/couch/
        notifications_enabled           1
        contacts                        ssp
        servicegroups                   http
}



# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.

define service {
        use                             local-service
        host_name                       vlib.sub.uni-goettingen.de
        service_description             HTTP
        check_command                   check_http_dns
        notifications_enabled           1
        contacts                        ssp
        servicegroups                   http
}

define service {
        use                             generic-service
        host_name                       aac.sub.uni-goettingen.de
        service_description             HTTP
        check_command                   check_http_dns
        notifications_enabled           1
        contact_groups                  vlib-admins
        servicegroups                   http,aac
}

define service {
        use                             generic-service
        host_name                       geo-leo.de
        service_description             HTTP
        check_command                   check_http_dns
        notifications_enabled           1
        contact_groups                  vlib-admins
        servicegroups                   http,geoleo
}

define service {
        use                             generic-service
        host_name                       vifamath.de
        service_description             HTTP
        check_command                   check_http_dns
        notifications_enabled           1
        contact_groups                  vlib-admins
        servicegroups                   http,vifamath
}

define service {
        use                             generic-service
        host_name                       vlib.sub.uni-goettingen.de
        service_description             HTTPS
        check_command                   check_https_certificate
        notifications_enabled           1
        contacts                        ssp
        servicegroups                   http,https
}

define service {
        use                             generic-service
        host_name                       aac.sub.uni-goettingen.de
        service_description             HTTPS
        check_command                   check_https_certificate
        notifications_enabled           1
        contact_groups                  vlib-admins
        servicegroups                   http,https,aac
}

define service {
        use                             generic-service
        host_name                       geo-leo.de
        service_description             HTTPS
        check_command                   check_https_certificate
        notifications_enabled           1
        contact_groups                  vlib-admins
        servicegroups                   http,https,geoleo
}

define service {
        use                             generic-service
        host_name                       vifamath.de
        service_description             HTTPS
        check_command                   check_https_certificate
        notifications_enabled           1
        contact_groups                  vlib-admins
        servicegroups                   http,https,vifamath
}

define service {
        use                             generic-service
        host_name                       vlib.sub.uni-goettingen.de
        service_description             pazpar2
        check_command                   check_pazpar2!-p9004
        notifications_enabled           1
        contacts                        ssp
}

define service {
        use                             generic-service
        host_name                       aac.sub.uni-goettingen.de
        service_description             pazpar2 Proxy
        check_command                   check_pazpar2!-Haac.sub.uni-goettingen.de!-p80!-P/pazpar2
        notifications_enabled           0
        contact_groups                  vlib-admins
        servicegroups                   aac
}

define service {
        use                             generic-service
        host_name                       geo-leo.de
        service_description             pazpar2 Proxy
        check_command                   check_pazpar2!-Hgeo-leo.de!-p80!-P/pazpar2
        notifications_enabled           0
        contact_groups                  vlib-admins
        servicegroups                   geoleo
}

define service {
        use                             generic-service
        host_name                       vifamath.de
        service_description             pazpar2 Proxy
        check_command                   check_pazpar2!-Hvifamath.de!-p80!-P/pazpar2
        notifications_enabled           0
        contact_groups                  vlib-admins
        servicegroups                   vifamath
}


# Proxy to DNB Journals Online & Print service
# Query a specific journal. Result is considered OK if the <Full> tag is found.
define service {
        use                             generic-service
        host_name                       vlib.sub.uni-goettingen.de
        service_description             ZDB proxy
        check_command                   check_http_zdb
        notifications_enabled           0
        contacts                        ssp
        servicegroups                   http
}

define service {
        use                             generic-service
        host_name                       aac.sub.uni-goettingen.de
        service_description             ZDB Proxy
        check_command                   check_http_zdb
        notifications_enabled           0
        contact_groups                  vlib-admins
        servicegroups                   http,aac
}

define service {
        use                             generic-service
        host_name                       geo-leo.de
        service_description             ZDB Proxy
        check_command                   check_http_zdb
        notifications_enabled           0
        contact_groups                  vlib-admins
        servicegroups                   http,geoleo
}

define service {
        use                             generic-service
        host_name                       vifamath.de
        service_description             ZDB Proxy
        check_command                   check_http_zdb
        notifications_enabled           0
        contact_groups                  vlib-admins
        servicegroups                   http,vifamath
}



# Check fbw website
define service {
        use                             generic-service
        host_name                       fabian.sub.uni-goettingen.de
        service_description             Fabian Wiki
        check_command                   check_http_dns
        notifications_enabled           1
        normal_check_interval           60
        servicegroups                   http
        contact_groups                  vlib-admins
}
