###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
# Last Modified: 05-31-2007
#
# NOTE: This config file is intended to serve as an *extremely* simple 
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################




###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define a host for the local machine

define host{
        use                     linux-server
        host_name               vlib
        alias                   vlib
        address                 134.76.21.192
	hostgroups		SUB
        contacts		ssp
}

define host{
        use                     linux-server
        host_name               pazpar2.sub.uni-goettingen.de
        alias                   pazpar2
        address                 pazpar2.sub.uni-goettingen.de
        hostgroups              SUB,aac,geoleo
        contact_groups          vlib-admins
}

define host{
	use			linux-server
	host_name		aac.sub.uni-goettingen.de
	alias			Lib AAC TYPO3
	address			aac.sub.uni-goettingen.de
	hostgroups		SUB,aac
	contact_groups		vlib-admins
}	

define host{
        use                     linux-server
        host_name               vlib2.sub.uni-goettingen.de
        alias                   GEO-LEO TYPO3
        address                 vlib2.sub.uni-goettingen.de
        hostgroups              SUB,geoleo
        contact_groups          vlib-admins
}

define host{
        use                     linux-server
        host_name               www.geo-leo.de
        alias                   GEO-LEO Alt
        address                 www.geo-leo.de
        hostgroups              SUB,geoleo
        contact_groups          vlib-admins
}

define host{
        use                     linux-server 
        host_name               vifamath.de
        alias                   Virtuelle Fachbibliothek Mathematik
        address                 134.76.176.48
        hostgroups              SUB,vifamath
        contact_groups          vlib-admins
}

define host{
        use                     linux-server
        host_name               www.buchwissenschaft.info
        alias                   Fachdatenbank Buchwissenaschaft
        address                 134.76.163.162
        hostgroups              SUB
        contact_groups          vlib-admins
}





###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################

# Define a service to "ping" the local machine

#define service{
#        use                             local-service         ; Name of service template to use
#        host_name                       localhost
#        service_description             PING
#	check_command			check_ping!100.0,20%!500.0,60%
#}


# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       vlib
        service_description             Root Partition
	check_command			check_local_disk!20%!10%!/
}



# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.

#define service{
#        use                             local-service         ; Name of service template to use
#        host_name                       localhost
#        service_description             Current Users
#	check_command			check_local_users!20!50
#}


# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 users.

#define service{
#        use                             local-service         ; Name of service template to use
#        host_name                       localhost
#        service_description             Total Processes
#	check_command			check_local_procs!250!400!RSZDT
#}



# Define a service to check the load on the local machine. 

define service{
        use                             local-service         ; Name of service template to use
        host_name                       vlib
        service_description             Current Load
	check_command			check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
}



# Define a service to check the swap usage the local machine. 
# Critical if less than 10% of swap is free, warning if less than 20% is free

#define service{
#        use                             local-service         ; Name of service template to use
#        host_name                       localhost
#        service_description             Swap Usage
#	check_command			check_local_swap!20!10
#}



# Define a service to check SSH on the local machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       vlib
        service_description             SSH
	check_command			check_ssh
	notifications_enabled		1
}


define service {
        use                             generic-service
        host_name                       vlib
        service_description             CouchDB
        check_command                   check_http!--url=/couch/
        notifications_enabled           1
        contacts                        ssp
        servicegroups                   http
}



# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.

define service {
        use                             local-service         ; Name of service template to use
        host_name                       vlib
        service_description             HTTP
	check_command			check_http
	notifications_enabled		1	
	contacts			ssp
	servicegroups			http
}

define service {
	use                             generic-service
        host_name                       pazpar2.sub.uni-goettingen.de
        service_description             HTTP
        check_command                   check_http!--url=/icons/dvi.gif
        notifications_enabled           1
        contact_groups                  vlib-admins
        servicegroups                   http
}

define service {
        use                             generic-service
        host_name                       aac.sub.uni-goettingen.de
        service_description             HTTP
        check_command                   check_http!--hostname=aac.sub.uni-goettingen.de
        notifications_enabled           1
        contact_groups                  vlib-admins
        servicegroups                   http
}

define service {
        use                             generic-service
        host_name                       vlib2.sub.uni-goettingen.de
        service_description             HTTP
        check_command                   check_http!--hostname=vlib2.sub.uni-goettingen.de
        notifications_enabled           1
        contact_groups                  vlib-admins
        servicegroups                   http,geoleo
}

define service {
        use                             generic-service
        host_name                       www.geo-leo.de
        service_description             HTTP
        check_command                   check_http!--hostname=www.geo-leo.de
        notifications_enabled           1
        contact_groups                  vlib-admins
        servicegroups                   http,geoleo
}

define service {
	use				generic-service
	host_name			vlib
	service_description		HTTPS
	check_command			check_http!--ssl!--certificate=28!--hostname=vlib.sub.uni-goettingen.de
	notifications_enabled		1
	contacts			ssp		
	servicegroups			http
}

define service {
	use				generic-service
	host_name			aac.sub.uni-goettingen.de
	service_description             HTTPS
        check_command                   check_http!--ssl!--certificate=28!--hostname=aac.sub.uni-goettingen.de
        notifications_enabled           1
        contact_groups                  vlib-admins
	servicegroups                   http,aac
}

define service {
        use                             generic-service
        host_name                       vlib2.sub.uni-goettingen.de
        service_description             HTTPS
        check_command                   check_http!--ssl!--certificate=28!--hostname=vlib2.sub.uni-goettingen.de
        notifications_enabled           1
        contact_groups                  vlib-admins
	servicegroups                   http,geoleo
}

define service {
	use				generic-service
	host_name			vlib
	service_description		pazpar2
	check_command			check_pazpar2!-p9004
	notifications_enabled		1
	contacts			ssp
}

define service {
        use                             generic-service
        host_name                       pazpar2.sub.uni-goettingen.de
        service_description             pazpar2
        check_command                   check_pazpar2!-Hpazpar2.sub.uni-goettingen.de!-p80!-P/pazpar2
        notifications_enabled           1
        contact_groups                  vlib-admins
	servicegroups			aac,geoleo
}


# Proxy to DNB Journals Online & Print service
# Query a specific journal. Result is considered OK if the <Full> tag is found. 
define service {
        use                             generic-service
        host_name                       vlib
        service_description             ZDB proxy
        check_command                   check_http!--hostname=vlib.sub.uni-goettingen.de!--url=zdb/full.xml?genre=article&sid=sub:vlib&issn=0001-5962&date=1999!--string=<Full>
        notifications_enabled           1
        contacts                        ssp 
	servicegroups			http
}

define service {
	use				generic-service
	host_name			aac.sub.uni-goettingen.de
	service_description		ZDB Proxy
	check_command			check_http!--hostname=aac.sub.uni-goettingen.de!--url=zdb/full.xml?genre=article&sid=sub:vlib&issn=0001-5962&date=1999!--string=<Full>
	notifications_enabled		1
	contact_groups			vlib-admins
	servicegroups			http,aac
}

define service {
        use                             generic-service
        host_name                       vlib2.sub.uni-goettingen.de
        service_description             ZDB Proxy
        check_command                   check_http!--hostname=vlib2.sub.uni-goettingen.de!--url=zdb/full.xml?genre=article&sid=sub:vlib&issn=0001-5962&date=1999!--string=<Full>
        notifications_enabled           1
        contact_groups                  vlib-admins
        servicegroups                   http,geoleo
}


# Check fbw website
define service {
        use                             generic-service
        host_name                       www.buchwissenschaft.info
        service_description             FBW Service
        check_command                   check_http!--hostname=www.buchwissenschaft.info
        notifications_enabled           1
        normal_check_interval           60
        servicegroups                   bibliographic-services
        contact_groups                  vlib-admins
}


# Check vifamath iport
define service {
        use                             generic-service
        host_name                       vifamath.de
        service_description             vifamath-iport
        check_command                   check_http_webapp!"/kataloge-reviews/ergebnisse/?L=0&transfer=&request=search_results&dbgroup=mathLibCatalogues&frame=VifaXML&searchField=any&query=test&db=jfm-vifa"
        notifications_enabled           1
        normal_check_interval           240
	notification_interval		240
        servicegroups                   bibliographic-services,vifamath
        contact_groups                  vlib-admins
}


# Check fabian website
define service {
        use                             generic-service
        host_name                       www.buchwissenschaft.info
        service_description             Fabian Service
        check_command                   check_http_webapp!"/fabian"
        notifications_enabled           1
        normal_check_interval           60
        servicegroups                   bibliographic-services
        contact_groups                  vlib-admins
}


